/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  font-family: 'Roboto', sans-serif;
  color: #333;

  margin: 0;
  padding: 0;

  body{
    max-width: 600px;
    margin: auto;
  }
}
